* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  font-size: 13px;
  width: 100%;
  height: 60px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav .nav-rigth-section {
  width: 250px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-rigth-section a {
  margin-right: 10px;
  color: black;
}

nav .nav-rigth-section .menu-icon {
  background-image: url("https://static.thenounproject.com/png/756729-200.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

nav .nav-rigth-section img {
  border-radius: 50%;
  margin-left: 10px;
  width: 30px;
  height: 30px;
}

main {
  margin-top: 150px;
  text-align: center;
}

main .main__logo {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main__logo img {
  width: 272px;
  height: 92px;
}

main .main__input {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 35px;
}

main .main__input__container {
  width: 525px;
  border-radius: 100px;
  border: 1px solid #dfe1e5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main__input__container input {
  width: 450px;
  height: 40px;
  outline: none;
  border: none;
}

main .main__input__container:hover {
  -webkit-box-shadow: 0 1px 6px 0 #20212447;
          box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

.main__input__container .search-icon {
  background-image: url("https://img.icons8.com/android/24/000000/search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.main__input__container .micro-icon {
  cursor: pointer;
  background-image: url("https://www.gstatic.com/images/branding/googlemic/2x/googlemic_color_24dp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.main__btn {
  width: 530px;
  margin: 0 auto;
}

.main__buttons {
  display: inline-block;
}

.main__buttons .btn {
  height: 36px;
  background-color: #f2f2f2;
  border: 0;
  font-size: 14px;
  color: #5f6368;
  border-radius: 5px;
  padding: 0 15px;
  margin-right: 15px;
}

.main__buttons .btn:hover {
  border: 1px solid #c6c6c6;
  border: 1px solid #c6c6c6;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  color: #222;
  background-color: #f8f8f8;
}

footer {
  width: 100%;
  height: auto;
  position: absolute;
  bottom: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
}

footer ul {
  margin: 10px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

footer .footer__left {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

footer .footer__rigth {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

footer ul li a {
  margin: 10px;
  color: #5f6368;
}
/*# sourceMappingURL=main.css.map */